# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
#
---
BasedOnStyle: WebKit # https://www.webkit.org/code-style-guidelines/

Standard: Cpp03

UseTab: Never
IndentWidth: 4
ColumnLimit: 90
MaxEmptyLinesToKeep: 1
PenaltyBreakComment: 0

AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Never

NamespaceIndentation: None

BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Attach

ConstructorInitializerAllOnOneLineOrOnePerLine: false
KeepEmptyLinesAtTheStartOfBlocks: false
SpaceInEmptyBlock: false
SpaceAfterCStyleCast: false

BinPackArguments: true
BinPackParameters: false

AlignAfterOpenBracket: true
AlignTrailingComments: true

FixNamespaceComments: true
