# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
#
---
BasedOnStyle: WebKit # http://www.webkit.org/coding/coding-style.html

Standard: Cpp03

UseTab: Never
IndentWidth: 4
ColumnLimit: 90
MaxEmptyLinesToKeep: 1
PenaltyBreakComment: 0

AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Never

NamespaceIndentation: None

BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Attach

ConstructorInitializerAllOnOneLineOrOnePerLine: false
KeepEmptyLinesAtTheStartOfBlocks: false

BinPackArguments: true
BinPackParameters: false

AlignAfterOpenBracket: true
AlignTrailingComments: true

#SpaceInEmptyBlock: false
