# build results
bin
build
doc/doxygen
3rdparty

# scons
.sconsign.dblite
.sconf_temp
config.log
build.log

# clang
compile_commands.json

# doxygen
doxygen_*.db
doxygen_*.tmp

# python
__pycache__
*.pyc

# emacs
.#*
.dir-locals.el

# vim
*.sw[op]

# misc
.copyright
*.vpp~*
