# build results
/bin
/build
/docs/html

# scons
.sconsign*.dblite
.sconf_temp
config.log
build.log

# clang
compile_commands.json

# gdb
.gdb_history

# doxygen
doxygen_*.db
doxygen_*.tmp

# dia
*.dia~

# python
__pycache__/
*.pyc

# emacs
.#*
.dir-locals.el

# vim
*.sw[nop]

# clangd
.cache

# clion
.idea/

# ctags
/tags
