# build results
bin
build
3rdparty
html

# scons
.sconsign.dblite
.sconf_temp
config.log
build.log

# travis
build.status

# clang
compile_commands.json

# doxygen
doxygen_*.db
doxygen_*.tmp

# dia
*.dia~

# python
__pycache__
*.pyc

# emacs
.#*
.dir-locals.el

# vim
*.sw[op]

# ack
.ackrc

# doc
.copyright
*.vpp~*
