Source: roc-toolkit
Section: unknown
Priority: optional
Maintainer: unknown <pi@d0>
Build-Depends: debhelper (>= 13), g++, pkg-config, scons, ragel, gengetopt, cmake, make, libpulse-dev, libasound2-dev
Standards-Version: 4.1.3
Homepage: https://roc-streaming.org
Vcs-Browser: https://github.com/roc-streaming/roc-toolkit
Vcs-Git: git://github.com/roc-streaming/roc-toolkit

Package: libroc
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Roc: real-time audio streaming over the network - runtime library
  Basically, Roc is a network transport, highly specialized for the real-time streaming use case. The user writes the stream to the one end and reads it from another end, and Roc deals with all the complexity of the task of delivering data in time and with no loss. Encoding, decoding, adjusting rates, restoring losses – all these are performed transparently under the hood.

Package: libroc-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, libroc (= ${binary:Version})
Description: Roc: real-time audio streaming over the network - development files
  Roc is a network transport, highly specialized for the real-time streaming use case. The user writes the stream to the one end and reads it from another end, and Roc deals with all the complexity of the task of delivering data in time and with no loss. Encoding, decoding, adjusting rates, restoring losses – all these are performed transparently under the hood.

Package: roc
Section: utils
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}, libroc (= ${binary:Version})
Description: Roc: real-time audio streaming over the network - utilities
  Roc is a network transport, highly specialized for the real-time streaming use case. The user writes the stream to the one end and reads it from another end, and Roc deals with all the complexity of the task of delivering data in time and with no loss. Encoding, decoding, adjusting rates, restoring losses – all these are performed transparently under the hood.
