#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1
export DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
export DEB_BUILD_GNU_TYPE
export DEB_BUILD_OPTIONS = nocheck
export DEB_DH_SHLIBDEPS_ARGS_ALL = -- --ignore-missing-info -l/usr/lib/${DEB_BUILD_GNU_TYPE}/pulseaudio --warnings=5 -v

%:
	dh $@

override_dh_auto_build:
	scons -Q --host=${DEB_HOST_MULTIARCH}

override_dh_shlibdeps:
	dh_shlibdeps ${DEB_DH_SHLIBDEPS_ARGS_ALL}
